.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.btn-close {
  background-color: rgb(230, 90, 10);
  color: white;
  min-width: 200px;
  padding: 10px;
  border: none;
  margin: 70px auto;
}

.active {
  background-color: #b6d6e4;
  color: rgb(252, 26, 19);
  min-width: 200px;
  padding: 10px;
  border: none;
  margin: auto;


}

.submit_btn {
  background-color: #0a71f0;
  color: white;
  min-width: 100px;
  padding: 10px;
  border: none;
  margin: auto;


}

.btn {
  background-color: rgb(18, 69, 235);
  color: white;
  min-width: 200px;
  padding: 10px;
  border: none;
  margin: 70px auto;
}

.form_handle {
  text-align: left;
  padding: 12px;
  background-color: #f0deaf;
  width: 200px;
  margin: auto;
  font-family: 'Roboto Condensed', sans-serif;

}

input {
  margin: 10px 0px;
  height: 25px;
}